<h1>WhyA Reads - Review and Save Your Favorite YA Books</h1>
<% @books.each do |book| %>
<ul>
  <li><%= link_to  book.title, book_path(book) %></li>
</ul>
<% end %>

<% if current_user %>
<p> <%= link_to "Add a new Book", new_book_path %></p>
<%= link_to  "Go to my Profile", user_path(current_user.id) %>
<% end %>