
<h1>WhyA Reads - Review YA Books and Track Your Reading</h1>

<div class="row">

  <% @books.each do |book| %>

    <div class="mcol-md-3">

      <a href="/books/<%=book.id %>"><%= image_tag book.image_url, class: "book-image" %>

    </div>

  <% end %>

</div>



